.background {
	background-color: #E7E7E7;
}
.card {
	margin: 5px auto 45px;
	padding: 27px 40px 70px 40px;
	width: 38%;
	background-color: white;
	font-size: 18px;
	box-shadow: 0px 0px 4px 0px rgba(50, 50, 52, 0.51);
	
}
.link,
.status,
.causes,
span
	{
	padding-left: 15px;
}
.name {
	text-align: center;
}
.card .photo {
	text-align: center;	
}
.my_img {
	border-radius: 10px;
}
.list {
	margin-top: 35px;
}
.card .bottom {
	margin-bottom: 0px;
	padding-left: 15px;
}


	
