@import url(reset.css);

.wrapper {
	width: 908px;
	margin: 0 auto;
	padding: 18px 46px 0;
	background: white;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.phone {
	margin: 4px 28px 0 6px;
	float: left;	
}
.phone span {
	position: relative;
	top: -3px;
	font-family: Arial, sans-serif;
	font-size: 18px;
	color: #5e696d;
}
.login {
	float: left;
	width: 496px;
	height: 25px;
	background: linear-gradient(to top, #0c3357, #1f6685);
	border-radius: 4px;
	box-shadow: 4px 4px 3px 0px rgba(180, 180, 180, 0.9);
}
.menu {
	margin-right: 6px;
	padding: 0 8px 4px 9px;
	float: right;
	border: 1px solid #c1c8cb;
	border-radius: 15px;
	box-shadow: 2px 1px 3px 0px rgba(180, 180, 180, 0.9);
}
.menu img {
	margin-right: 4px;
}
.log {
	margin-left: 7px;
	margin-top: -2px;
	float: left;
}
.reg {
	/*position: relative;*/
	/*top: 2px;*/
	/*vertical-align: text-bottom;*/
	margin-top: 2px;
	font-size: 11px;
	font-family: 'Lucida Sans Unicode', Arial, sans-serif;
	text-decoration: none;
	color: white;
	padding: 0;
	background-color: transparent;
	border: none;
}
.forgot {
	margin-right: 11px;
	margin-top: 6px;
	float: right;
	font-size: 12px;
	font-family: 'Lucida Sans Unicode', Arial, sans-serif;
	color: #bfbfbf;
}
.log input {
	width: 111px;
	height: 14px;
	font-size: 11px;
	font-weight: bold;
	font-family: 'Lucida Sans Unicode', Arial, sans-serif;
	color: #97a2a6;
}
.log button {
	margin-left: -2px;
	padding: 0;
	background-color: transparent;
	color: white;
	font-size: 11px;
	font-family: 'Lucida Sans Unicode', Arial, sans-serif;
	border: none;
}
.log button:hover {
	color: #bfbfbf;
}
.reg:hover {
	color: #bfbfbf;
}
.log img {
	position: relative;
	top: 6px;
}
.login span {
	margin: 0 -4px 0 -1px;
	position: relative;
	color: white;
}
.header .banner {
	margin-top: 8px;
}
.nav {	
	margin-top: 4px;
	width: 909px;
	height: 32px;	
	background: linear-gradient(to top, #010101, #2a2e32);
	border: 1px solid #2c345a;
	border-radius: 5px;
	box-shadow: inset 0px 4px 3px 0px rgba(77, 86, 99, 0.9), 4px 4px 3px 0px rgba(180, 180, 180, 0.9);
}
.nav ul {
	margin-top: 7px;
	margin-left: 125px;
}
.nav li {
	float: left;
}
.nav li a {
	padding: 2px 18px 1px;
	text-decoration: none;
	color: #b1bcc0;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Lucida Sans Unicode', Arial, sans-serif;
}
.nav a:hover {	
	color: white;
	background: linear-gradient(to top, #0c3357, #1f6787);
	border-radius: 15px; 
}
.basket {
	float: right;
	margin-right: 21px;
	margin-top: -5px;
}
.basket img {
	position: relative;
	top: 5px;
}
.basket span {
	color: #929b9f;
	font-size: 11px;
	font-family: Arial, sans-serif; 
}
.goods:after {
	content: " 0    ";
	color: #0d5a8f;
	font-size: 12px;
	white-space: pre;
}
.summ:after {
	content: "    0,00 грн";
	color: #0d5a8f;
	white-space: pre;
	font-size: 12px;
}
.filters {
	margin: 11px 0 17px 3px;
	width: 910px;
	height: 134px;
}
.filters a {
	margin: -3px 21px 0 0;
	float: right;
	font-style: italic;
	font-size: 14px;
	font-family: Arial, sans-serif;
	color: #154467; 
}
.auto {
	float: left;
	width: 413px;
	border: 1px solid #b6b6b7;
	border-radius: 20px;
	height: 134px;
	box-shadow: 2px 3px 3px 0px rgba(180, 180, 180, 0.9);
}
.bus {
	float: left;
	margin: 0 9px 0 14px;
	width: 192px;
	border: 1px solid #b6b6b7;
	border-radius: 20px;
	overflow: hidden;
	height: 134px;
	box-shadow: 2px 3px 3px 0px rgba(180, 180, 180, 0.9);
}
.wheels {
	width: 266px;
	overflow: hidden;
	border: 1px solid #b6b6b7;
	border-radius: 20px;
	height: 134px;
	box-shadow: 2px 3px 3px 0px rgba(180, 180, 180, 0.9);
}
.auto_disks {
	margin: 10px 0 0 17px;
	width: 180px;
	float: left;	
}
.auto h1 {
	display: inline;
	margin: 4px 53px 9px 62px;
	font-size: 12px;
	font-weight: 900;
	font-family: Arial, sans-serif;
	color: #154467;
}
.auto h2 {
	display: inline;
	margin-left: 21px;
	font-size: 10px;
	color: #154468;
	font-family: Arial, sans-serif;
	font-weight: 900;
}
.auto_name {
	float: left;
}
.auto_name p {
	padding-bottom: 5px;
	font-size: 10px;
	font-family: Arial, sans-serif;
}
.mark:after {
	content: " авто:";
	color: #77858b;
	font-size: 8px;	
}
.model:after {
	content: " автомобиля:";
	display: block;
	color: #77858b;
	font-size: 9px;
}	
.year:after {
	content: " автомобиля:";
	display: block;
	color: #77858b;
	font-size: 9px;
}
.auto_filters {
	position: relative;
	top: -5px;
	left: 3px;
}
.auto_filters select {
	display: block;
	width: 102px;
	margin-bottom: 2px;
}
.auto_filters .short_select {
	width: 58px;
}
.auto_wheels {
	margin: 8px 0 0 25px;
	width: 180px;
	float: left;
}
.bus h1 {
	margin: 3px 0 0 10px;
	font-size: 12px;
	font-weight: 900;
	font-family: Arial, sans-serif;
	color: #154467;
}
.bus_name {
	float: left;
	margin: 10px 0 0 13px;
}
.bus_name p {
	font-size: 10px;
	font-family: 'Lucida Sans Unicode', Arial, sans-serif;
	line-height: 20px;
}
.bus_name .r {
	margin-left: 32px;
	font-size: 11px;
	font-family: Arial, sans-serif;
}
.size {
	height: 91px;
	margin: 6px 0 0 59px;
}
.size select {
	margin-bottom: 7px;
	width: 52px;
	height: 17px;
	font-size: 11px;
	font-family: Arial, sans-serif;
}
.size .small_size {
	width: 43px;
}
.size label {
	font-size: 12px;
	font-family: 'Lucida Sans Unicode', Arial, sans-serif;
}
.wheels h1 {
	margin: 3px 0 0 9px;
	font-size: 12px;
	font-weight: 900;
	font-family: Arial, sans-serif;
	color: #154467;
}
.diameter:after {
	content: " диска:";
	color: #77858b;
	font-size: 9px;	
}
.quantity:after {
	content: " крепежных отверстий:";
	color: #77858b;
	font-size: 9px;
}	
.diameter2:after {
	content: " расположения крепежных отверстий:";
	color: #77858b;
	font-size: 9px;
}
.wheels_disks {
	float: left;
	margin: 9px 0 0 16px;
	width: 158px;
}
.wheels_name {
	float: left;
}
.wheels_filters select {
	position: relative;
	top: -5px;
	margin-bottom: 14px;
	display: block;
	width: 57px;
	font-size: 11px;
}
.wheels_name p {
	padding-bottom: 6px;
	width: 90px;
	font-size: 10px;
	font-family: 'Lucida Sans Unicode', Arial, sans-serif;
}
.wheels_dco {
	margin: -12px 26px 0 0;
	padding: 2px 0 0 8px;
	width: 55px;
	float: right;
	border-left: 1px solid #77858b;
}
.wheels_dco p {
	font-size: 9px;
	font-family: 'Lucida Sans Unicode', Arial, sans-serif;
}
.dco:after {
	content: "(диаметр центрального отверстия)";
	color: #77858b;
	font-size: 8px;
	display: block;
}
.et:after {
	content: "(вылет диска)";
	color: #77858b;
	font-size: 8px;
	display: block;
}
.wheels_dco select {
	width: 56px;
	margin: 4px 0 4px 2px;
	font-size: 11px;
}
.aside {
	margin-right: 9px;
	float: left;	
}
.aside h1 {
	margin: 3px 0 12px -1px;
	padding: 6px 4px;
	color: #114165;
	font-size: 13px;
	text-transform: uppercase;
	font-family: 'Lucida Sans Unicode', Arial, sans-serif;
	border: 1px solid #79878d;
	border-radius: 13px;
	box-shadow: 2px 3px 3px 0px rgba(180, 180, 180, 0.9);
}
.aside h1 .icon {
	position: relative;
	top: -4px;
	left: -3px;
	float: left;
	width: 22px;
	height: 22px;
	background-color: #114165;
	text-align: center;
	background-repeat: no-repeat;
	border-radius: 11px;
}
.aside h1 img {
	margin-top: 3px;
}
.aside h2 {
	width: 142px;
	padding: 8px 0 4px 6px;
	clear: both;
	color: #114165;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Lucida Sans Unicode', Arial, sans-serif;
	border: 1px solid #79878d;
	border-radius: 15px;
}
.aside h2 .ring {	
	position: relative;
	top: -6px;
	left: -2px;
	float: left;
	width: 12px;
	height: 13px;
	border: 5px solid #114165;
	border-radius: 15px;
}
.aside ul {
	margin-left: 45px;
	clear: both;
}
.aside ul li {
	height: 24px;
	line-height: 23px;
	list-style-type: circle;
	color: #465961;
}
.aside ul li a {
	text-decoration: none;
	color: #465961;
	font-size: 13px;
	font-family: 'Lucida Sans Unicode', Arial, sans-serif;
}
.aside ul li a:hover {	
	margin-top: 1px;
	text-decoration: underline;
	font-style: italic;
	font-size: 14px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: #0c3256;	
}
.main {
	float: left;
	padding: 14px 0px 6px 24px;
	width: 502px;
	/*height: 586px;*/
	overflow: hidden;
	background: linear-gradient(to top, #93a7b0, #e4e7e8);
}
.figure {
	margin: 0 24px 25px 0;
	display: inline-block;	
}
.tire {
	padding-top: 4px;
	text-align: center;
	background-color: white;
	width: 137px;
	height: 123px;
	border: 1px solid #a7b1b4;
	border-radius: 7px;
}
.main h1 {
	text-align: center;
	font-size: 15px;
	color: #206988;
	font-family: 'Lucida Sans Unicode', Arial, sans-serif;
}
.main h2 {
	text-align: center;
	font-size: 13px;
	font-family: 'Lucida Sans Unicode', Arial, sans-serif;
}
.main figcaption {
	margin-top: 4px;
	text-align: center;
	font-size: 16px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	color: #114165;
}
.main figcaption:after {
	content: " грн.";
	font-size: 12px;
}
.brands {
	float: left;
}
.brands h1 {
	margin: 1px 0 14px 10px;
	padding: 6px 4px;
	width: 172px;
	color: #114165;
	font-size: 13px;
	text-transform: uppercase;
	font-family: 'Lucida Sans Unicode', Arial, sans-serif;
	border: 1px solid #79878d;
	border-radius: 13px;
	box-shadow: 2px 3px 3px 0px rgba(180, 180, 180, 0.9);
}
.brands h1 img {
	margin-top: 3px;
}
.brands h2 {
	margin: 0 0 4px 24px;
	width: 128px;
	padding: 8px 0 4px 6px;
	clear: both;
	color: #114165;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Lucida Sans Unicode', Arial, sans-serif;
	border: 1px solid #79878d;
	border-radius: 15px;
}
.brands h1 .icon {
	position: relative;
	top: -4px;
	left: -3px;
	float: left;
	width: 22px;
	height: 22px;
	background-color: #114165;
	text-align: center;
	background-repeat: no-repeat;
	border-radius: 11px;
}
.brands h2 .ring {	
	position: relative;
	top: -6px;
	left: -2px;
	float: left;
	width: 12px;
	height: 13px;
	border: 5px solid #114165;
	border-radius: 15px;
}
.brands .check_filters {
	margin-left: 29px;
	line-height: 27px;
	color: #465961;
	font-size: 13px;
	font-family: 'Lucida Sans Unicode', Arial, sans-serif;
}
.brands button {
	margin: 10px 0 0 33px;
	padding: 5px 14px;
	background: transparent;
	border: none;
	border-radius: 15px;
	color: white;
	font-family: Arial, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	background: linear-gradient(to top, #0c3357, #1f6787);
}
.sponsors {
	margin: 35px 0 0 116px;
}
.sponsors div {
	display: inline;
}
.sponsors .s2 {
	position: relative;
	top: -7px;
	margin-left: 8px;
}
.sponsors .s3 {
	margin-left: 9px;
}
.sponsors .s4 {
	margin-left: 11px;
}
.sponsors .s5 {
	position: relative;
	top: -7px;
	margin-left: 8px;
}
.sponsors .s6 {
	margin-left: 10px;
}
.sponsors .s7 {
	position: relative;
	top: -6px;
	margin-left: 8px;
}
.sponsors .s8 {
	position: relative;
	top: -7px;
	margin-left: 10px;
}
.contacts {
	margin-top: 24px;
	padding-bottom: 49px;
	width: 907px;
	background-color: #213a4d;
}
.contacts ul {
	margin-left:  309px;
	padding-top: 8px;
}
.contacts li {
	float: left;
	margin-right: 12px;
}
.contacts li a {
	text-decoration: none;
	color: #bec6c9;
	font-size: 12px;
	font-family: Arial, sans-serif;
}
.contacts li a:hover {
	color: #52abcb;
}
.contacts .delimiter:after {
	content: "   |";
	color: white;
	white-space: pre;
}
.copyright {
	clear: left;
	padding-top: 16px;
	text-align: center;
	font-size: 11px;
	font-family: Arial, sans-serif;
	color: #7f4740;
}


	




